progress,
progressbar,
trough {
  border: 1px solid @base0D;
}

trough {
  background: @base01;
}

.notification.low {
  border: 1px solid @base03;
}

.notification.low progress {
  background: @base03;
}

.notification.normal {
  border: 1px solid @base0D;
}

.notification.normal progress {
  background: @base0F;
}

.notification.critical {
  border: 1px solid @base08;
}

.notification.critical progress {
  background: @base08;
}

.summary {
  color: @base05;
}

.body {
  color: @base06;
}

.time {
  color: @base06;
}

.notification-action {
  color: @base05;
  background: @base01;
}

.notification-action:hover {
  background: @base01;
  color: @base05;
}

.notification-action:active {
  background: @base0F;
  color: @base05;
}

.close-button {
  color: @base02;
  background: @base08;
}

.close-button:hover {
  background: lighter(@base08);
  color: lighter(@base02);
}

.close-button:active {
  background: @base08;
  color: @base00;
}

.notification-content {
  background: @base00;
  border: 1px solid @base0D;
}

.floating-notifications.background .notification-row .notification-background {
  background: transparent;
  color: @base05;
}

.notification-group .notification-group-buttons,
.notification-group .notification-group-headers {
  color: @base05;
}

.notification-group .notification-group-headers .notification-group-icon {
  color: @base05;
}

.notification-group .notification-group-headers .notification-group-header {
  color: @base05;
}

.notification-group.collapsed .notification-row .notification {
  background: @base01;
}

.notification-group.collapsed:hover
  .notification-row:not(:only-child)
  .notification {
  background: @base01;
}

.control-center {
  background: @base00;
  border: 1px solid @base0D;
  color: @base05;
}

.control-center .notification-row .notification-background {
  background: @base00;
  color: @base05;
}

.control-center .notification-row .notification-background:hover {
  background: @base00;
  color: @base05;
}

.control-center .notification-row .notification-background:active {
  background: @base0F;
  color: @base05;
}

.widget-title {
  color: @base05;
  margin: 0.5rem;
}

.widget-title > button {
  background: @base01;
  border: 1px solid @base0D;
  color: @base05;
}

.widget-title > button:hover {
  background: @base01;
}

.widget-dnd {
  color: @base05;
}

.widget-dnd > switch {
  background: @base01;
  border: 1px solid @base0D;
}

.widget-dnd > switch:hover {
  background: @base01;
}

.widget-dnd > switch:checked {
  background: @base0F;
}

.widget-dnd > switch slider {
  background: @base06;
}

.widget-mpris {
  color: @base05;
}

.widget-mpris .widget-mpris-player {
  background: @base01;
  border: 1px solid @base0D;
}

.widget-mpris .widget-mpris-player button:hover {
  background: @base01;
}

.widget-mpris .widget-mpris-player > box > button {
  border: 1px solid @base0D;
}

.widget-mpris .widget-mpris-player > box > button:hover {
  background: @base01;
  border: 1px solid @base0D;
}
