<?xml version="1.0" encoding="UTF-8"?>

<style-scheme id="stylix" _name="Stylix" version="1.0">
  <author>Stylix</author>
  <_description>Theme configured as part of your NixOS configuration.</_description>

  <color name="base00" value="#{{base00-hex}}"/>
  <color name="base01" value="#{{base01-hex}}"/>
  <color name="base02" value="#{{base02-hex}}"/>
  <color name="base03" value="#{{base03-hex}}"/>
  <color name="base04" value="#{{base04-hex}}"/>
  <color name="base05" value="#{{base05-hex}}"/>
  <color name="base06" value="#{{base06-hex}}"/>
  <color name="base07" value="#{{base07-hex}}"/>
  <color name="base08" value="#{{base08-hex}}"/>
  <color name="base09" value="#{{base09-hex}}"/>
  <color name="base0A" value="#{{base0A-hex}}"/>
  <color name="base0B" value="#{{base0B-hex}}"/>
  <color name="base0C" value="#{{base0C-hex}}"/>
  <color name="base0D" value="#{{base0D-hex}}"/>
  <color name="base0E" value="#{{base0E-hex}}"/>
  <color name="base0F" value="#{{base0F-hex}}"/>

  <style name="bracket-match" background="base01" bold="true"/>
  <style name="bracket-mismatch" background="base01" underline="true"/>
  <style name="current-line" background="base01"/>
  <style name="cursor" foreground="base03"/>
  <style name="draw-spaces" foreground="base02"/>
  <style name="line-numbers" foreground="base06" background="base01"/>
  <style name="search-match" background="base01" bold="true" underline="true"/>
  <style name="selection" foreground="base06" background="base02"/>
  <style name="text" foreground="base06" background="base00"/>

  <style name="css:at-rules" foreground="base0E"/>
  <style name="css:color" foreground="base05"/>
  <style name="css:keyword" foreground="base0A"/>

  <style name="def:base-n-integer" foreground="base09"/>
  <style name="def:boolean" foreground="base09"/>
  <style name="def:builtin" foreground="base09"/>
  <style name="def:character" foreground="base09"/>
  <style name="def:comment" foreground="base04"/>
  <style name="def:complex" foreground="base09"/>
  <style name="def:decimal" foreground="base09"/>
  <style name="def:doc-comment" foreground="base04"/>
  <style name="def:doc-comment-element" foreground="base04"/>
  <style name="def:error" foreground="base07" background="base08"/>
  <style name="def:floating-point" foreground="base09"/>
  <style name="def:function" foreground="base0D"/>
  <style name="def:identifier" foreground="base08"/>
  <style name="def:keyword" foreground="base0E"/>
  <style name="def:note" foreground="base04"/>
  <style name="def:number" foreground="base09"/>
  <style name="def:operator" foreground="base0C"/>
  <style name="def:preprocessor" foreground="base09"/>
  <style name="def:reserved" foreground="base0E"/>
  <style name="def:shebang" foreground="base04"/>
  <style name="def:special-char" foreground="base09"/>
  <style name="def:special-constant" foreground="base09"/>
  <style name="def:statement" foreground="base0E"/>
  <style name="def:string" foreground="base0B"/>
  <style name="def:type" foreground="base0A"/>

  <style name="html:dtd" foreground="base0B"/>
  <style name="html:tag" foreground="base08"/>

  <style name="js:function" foreground="base0D"/>

  <style name="perl:builtin" foreground="base0D"/>
  <style name="perl:include-statement" foreground="base0E"/>
  <style name="perl:special-variable" foreground="base09"/>
  <style name="perl:variable" foreground="base08"/>

  <style name="php:string" foreground="base0B"/>

  <style name="python:builtin-constant" foreground="base0E"/>
  <style name="python:builtin-function" foreground="base0D"/>
  <style name="python:module-handler" foreground="base0E"/>
  <style name="python:special-variable" foreground="base0E"/>

  <style name="ruby:attribute-definition" foreground="base0E"/>
  <style name="ruby:builtin" foreground="base08"/>
  <style name="ruby:class-variable" foreground="base08"/>
  <style name="ruby:constant" foreground="base08"/>
  <style name="ruby:global-variable" foreground="base0D"/>
  <style name="ruby:instance-variable" foreground="base08"/>
  <style name="ruby:module-handler" foreground="base0E"/>
  <style name="ruby:predefined-variable" foreground="base09"/>
  <style name="ruby:regex" foreground="base08"/>
  <style name="ruby:special-variable" foreground="base0E"/>
  <style name="ruby:symbol" foreground="base0B"/>

  <style name="rubyonrails:attribute-definition" foreground="base0E"/>
  <style name="rubyonrails:block-parameter" foreground="base09"/>
  <style name="rubyonrails:builtin" foreground="base08"/>
  <style name="rubyonrails:class-inherit" foreground="base0B"/>
  <style name="rubyonrails:class-name" foreground="base0A"/>
  <style name="rubyonrails:class-variable" foreground="base08"/>
  <style name="rubyonrails:complex-interpolation" foreground="base09"/>
  <style name="rubyonrails:constant" foreground="base08"/>
  <style name="rubyonrails:global-variable" foreground="base0D"/>
  <style name="rubyonrails:instance-variable" foreground="base08"/>
  <style name="rubyonrails:module-handler" foreground="base0E"/>
  <style name="rubyonrails:module-name" foreground="base0A"/>
  <style name="rubyonrails:predefined-variable" foreground="base09"/>
  <style name="rubyonrails:rails" foreground="base08"/>
  <style name="rubyonrails:regex" foreground="base08"/>
  <style name="rubyonrails:simple-interpolation" foreground="base09"/>
  <style name="rubyonrails:special-variable" foreground="base0E"/>
  <style name="rubyonrails:symbol" foreground="base0B"/>

  <style name="xml:attribute-name" foreground="base08"/>
  <style name="xml:doctype" foreground="base08"/>
  <style name="xml:element-name" foreground="base08"/>
  <style name="xml:namespace" foreground="base08"/>
  <style name="xml:tag" foreground="base08"/>
</style-scheme>
