$is_highcontrast: false;

$base_color: #{{base01-hex}};
$bg_color: #{{base00-hex}};
$fg_color: #{{base05-hex}};
$borders_color: transparentize($bg_color, 0.9);
$outer_borders_color: transparentize($bg_color, 0.98);

$selected_fg_color: #{{base00-hex}};
$selected_bg_color: #{{base0D-hex}};
$selected_borders_color: transparentize($selected_bg_color, 0.9);

$link_color: #{{base0D-hex}};
$link_visited_color: #{{base0D-hex}};

$warning_color: #{{base0A-hex}};
$error_color: #{{base08-hex}};
$success_color: #{{base0B-hex}};
$destructive_color: $error_color;

$osd_bg_color: #{{base01-hex}};
$osd_fg_color: #{{base05-hex}};
$osd_insensitive_bg_color: #{{base01-hex}};
$osd_insensitive_fg_color: #{{base05-hex}};
$osd_borders_color: transparentize($osd_bg_color, 0.9);
$osd_outer_borders_color: transparentize($osd_bg_color, 0.98);

$shadow_color: rgba(0,0,0,0.1);

$button_mix_factor: 0%;
$bubble_buttons_color: #{{base01-hex}};

$system_base_color: #{{base00-hex}};
$system_fg_color: #{{base05-hex}};
$system_bg_color: #{{base00-hex}};
$system_borders_color: transparentize($system_bg_color, .9);
$system_insensitive_fg_color: #{{base05-hex}};
$system_overlay_bg_color: #{{base01-hex}}; // for non-transparent items, e.g. dash

$insensitive_fg_color: #{{base05-hex}};
$insensitive_bg_color: #{{base01-hex}};
$insensitive_borders_color: transparentize($insensitive_bg_color, 0.9);

$checked_bg_color: #{{base01-hex}};
$checked_fg_color: #{{base05-hex}};

$hover_bg_color: #{{base01-hex}};
$hover_fg_color: #{{base05-hex}};

$active_bg_color: #{{base01-hex}};
$active_fg_color: #{{base05-hex}};
