/* rsthemes 0.5.0 */
/* https://github.com/danth/stylix*/
/* rs-theme-name: stylixBase16*/
/* Theme Generator by Grady B  */
/* rs-theme-is-dark: TRUE */

.ace_gutter {
  background: #{{base02-hex}};
  color: #{{base07-hex}}80;
}

.ace_print-margin {
  width: 2px;
  background: #{{base05-hex}}26;
}

.ace_editor {
  background-color: #{{base00-hex}};
  color: #{{base07-hex}};
}

.rstudio-themes-flat.ace_editor_theme {
  background-color: #{{base00-hex}};
  color: #{{base07-hex}};
}

.rstudio-themes-flat.ace_editor_theme .profvis-flamegraph {
  background-color: #{{base00-hex}};
  color: #{{base07-hex}};
}

.rstudio-themes-flat .ace_editor_theme {
  background-color: #{{base00-hex}};
  color: #{{base07-hex}};
}

.rstudio-themes-flat.editor_dark.ace_editor_theme a {
  color: #FFF !important;
}

.rstudio-themes-flat .gwt-Label {
  color: #{{base07-hex}};
}

.ace_cursor {
  color: #{{base0A-hex}};
}

.normal-mode .ace_cursor {
  border: 0 !important;
  background-color: #{{base0A-hex}};
}

.ace_marker-layer .ace_selection {
  background: #{{base05-hex}}66;
}

.ace_marker-layer .ace_step {
  background: #a6b189;
}

.ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid #{{base02-hex}};
}

.ace_marker-layer .ace_active-line {
  background: #11111180;
}

.ace_marker-layer .ace_selected-word {
  border: 1px solid #{{base05-hex}}66;
}

.ace_marker-layer .ace_foreign_line {
  position: absolute;
  z-index: -1;
  background-color: #{{base01-hex}};
}

.ace_marker-layer .ace_active_debug_line {
  position: absolute;
  z-index: -1;
  background-color: #383838;
}

.ace_marker-layer .ace_find_line {
  position: absolute;
  z-index: -1;
  background-color: #{{base01-hex}};
}

.ace_gutter-active-line {
  background-color: #{{base01-hex}};
}

.ace_fold {
  background-color: #{{base08-hex}};
  border: 1px solid #{{base07-hex}} !important;
}

.ace_indent-guide {
  display: inline-block;
  height: 100%;
  box-shadow: 1px 0 0 #{{base02-hex}};
}

.ace_active-line ~ .ace_selection.ace_start {
  background-color: #{{base02-hex}};
}

.ace_keyword {
  font-style: normal;
  color: #{{base0E-hex}};
}

.ace_keyword.ace_operator {
  font-style: normal;
  color: #{{base0C-hex}};
}

.ace_keyword.ace_other.ace_unit {
  font-style: normal;
  color: #{{base05-hex}};
}

.ace_constant.ace_language {
  color: #{{base0F-hex}};
}

.ace_constant.ace_numeric {
  color: #{{base05-hex}};
}

.ace_constant.ace_character {
  color: #{{base05-hex}};
}

.ace_constant.ace_other {
  color: #{{base07-hex}};
}

.ace_support.ace_function {
  color: #{{base0D-hex}};
}

.ace_support.ace_constant {
  color: #{{base05-hex}};
}

.ace_support.ace_class {
  font-style: italic;
  color: #{{base0A-hex}};
}

.ace_support.ace_type {
  color: #{{base0A-hex}};
}

.ace_paren.ace_keyword.ace_operator {
  color: #{{base0C-hex}};
}

.ace_storage {
  color: #{{base0E-hex}};
}

.ace_storage.ace_type {
  color: #{{base0E-hex}};
}

.ace_invalid {
  background-color: #{{base08-hex}}80;
}

.ace_invalid.ace_deprecated {
  background-color: #{{base0E-hex}}80;
}

.ace_string {
  color: #{{base0B-hex}};
}

.ace_comment {
  color: #{{base04-hex}};
}

.ace_invisible {
  color: #{{base03-hex}};
}

.ace_variable {
  color: #{{base08-hex}};
}

.ace_variable.ace_parameter {
  color: #{{base05-hex}};
}

.ace_identifier {
  color: #{{base07-hex}};
  background-color: inherit;
}

.ace_entity.ace_name.ace_function {
  color: #{{base0D-hex}};
}

.ace_entity.ace_name.ace_tag {
  color: #{{base08-hex}};
}

.ace_entity.ace_other.ace_attribute-name {
  color: #{{base0E-hex}};
}

.ace_bracket {
  margin: 0 !important;
  border: 0 !important;
  background-color: #{{base02-hex}};
}

.ace_console_error {
  background-color: #{{base01-hex}};
}

.ace_layer {
  z-index: 4;
}

.ace_layer.ace_print-margin-layer {
  z-index: 2;
}

.ace_layer.ace_marker-layer {
  z-index: 1;
}

.ace_layer.ace_cursor-layer {
  z-index: 3;
}

.ace_selection.ace_start {
  box-shadow: 0 0 3px 0 #{{base00-hex}};
  border-radius: 2px;
}

.ace_meta.ace_tag {
  color: #{{base0C-hex}};
}

.ace_markup.ace_heading,
.ace_markup.ace_heading ~ .ace_heading {
  font-weight: 600;
  color: #{{base0B-hex}};
}

.ace_support.ace_function.ace_codebegin, .ace_support.ace_function.ace_codeend {
  color: #{{base0D-hex}};
}

.ace_markup.ace_href {
  color: #{{base0E-hex}};
}

.nocolor.ace_editor .ace_line span {
  color: #{{base0E-hex}} !important;
}

#rstudio_console_input .ace_marker-layer .ace_selection {
  background: #{{base05-hex}}66;
}

/* ---- RStudio Theme ---- */
/* background */
.rstudio-themes-flat .rstudio-themes-dark-grey {
  background: #{{base01-hex}} !important;
  color: #{{base07-hex}} !important;
  /* collapsed toolbar on rstudio server */
}

.rstudio-themes-flat .rstudio-themes-dark-grey .rstudio-themes-background {
  background: #{{base01-hex}} !important;
}

.rstudio-themes-flat .rstudio-themes-dark-grey [role="banner"] + [role="navigation"] > table > tbody > tr > td,
.rstudio-themes-flat .rstudio-themes-dark-grey header + [role="navigation"] > table > tbody > tr > td {
  background: #{{base01-hex}};
  border-color: #{{base00-hex}};
}

.rstudio-themes-flat .rstudio-themes-dark-grey .rstudio-themes-border {
  border-color: #{{base00-hex}};
}

/* inactive tabs */
table.rstheme_tabLayoutCenter,
.rstudio-themes-flat .rstudio-themes-dark-grey .gwt-TabLayoutPanelTabs,
.rstheme_multiPodUtilityTabArea {
  background: #{{base01-hex}} !important;
}

table.rstheme_tabLayoutCenter .gwt-Label,
.rstudio-themes-flat .rstudio-themes-dark-grey .gwt-TabLayoutPanelTabs .gwt-Label,
.rstheme_multiPodUtilityTabArea .gwt-Label {
  color: #{{base04-hex}};
}

/* toolbar and selected tab */
.rstudio-themes-flat .rstudio-themes-dark-grey .rstheme_center,
.rstudio-themes-flat .rstudio-themes-dark-grey .gwt-TabLayoutPanelTabs .gwt-TabLayoutPanelTab-selected table.rstheme_tabLayoutCenter {
  background: #{{base02-hex}} !important;
}

.rstudio-themes-flat .rstudio-themes-dark-grey .gwt-TabLayoutPanelTab-selected .gwt-Label {
  color: #{{base07-hex}};
}

.rstudio-themes-flat .rstudio-themes-dark-grey .gwt-TabLayoutPanelTab:hover .rstheme_tabLayoutCenter {
  background: #{{base01-hex}} !important;
}

.rstudio-themes-flat .rstheme_toolbarWrapper {
  background: #{{base02-hex}} !important;
}

.rstudio-themes-flat .rstheme_toolbarWrapper button, .rstudio-themes-flat .rstheme_toolbarWrapper a, .rstudio-themes-flat .rstheme_toolbarWrapper div {
  color: #{{base07-hex}} !important;
}

.rstudio-themes-flat .rstudio-themes-dark-grey .gwt-SplitLayoutPanel-HDragger, .rstudio-themes-flat .rstudio-themes-dark-grey .gwt-SplitLayoutPanel-VDragger {
  /* spliters */
  background: transparent !important;
}

.rstudio-themes-flat .rstudio-themes-dark .search, .rstudio-themes-flat.rstudio-themes-dark-menus .search {
  /* search */
  background: #{{base02-hex}} !important;
}

.rstudio-themes-flat #rstudio_workbench_panel_find_in_files td[colspan="2"] {
  /* file name in Find in Files */
  color: #{{base0F-hex}};
}

/* pane toolbars */
.rstheme_secondaryToolbar, .rstudio-themes-flat .rstudio-themes-dark-grey .dataGridHeader {
  background: #{{base02-hex}} !important;
}

/* menu background */
.rstudio-themes-flat .popupMiddleCenter,
.rstudio-themes-flat .menuPopupMiddleCenter,
.rstudio-themes-flat .suggestPopupMiddleCenter {
  background: #{{base00-hex}} !important;
  color: #{{base07-hex}} !important;
}

.rstudio-themes-flat .popupMiddleCenter .item.item-selected,
.rstudio-themes-flat .menuPopupMiddleCenter .item.item-selected,
.rstudio-themes-flat .suggestPopupMiddleCenter .item.item-selected {
  color: #{{base07-hex}} !important;
  background: #{{base02-hex}} !important;
}

.rstudio-themes-flat .themedPopupPanel {
  border: solid 1px #{{base02-hex}};
}

.rstudio-themes-flat .themedPopupPanel ~ div.popupContent div:nth-child(1) {
  border: solid 1px #{{base02-hex}};
}

.rstudio-themes-flat .popupContent {
  background: #{{base00-hex}};
  color: #{{base07-hex}};
  border-color: #{{base02-hex}};
}

.rstudio-themes-flat .popupContent:not(.popupMiddleCenterInner) div div:nth-child(2) {
  background-color: unset;
  border: none;
}

.rstudio-themes-flat .popupContent + .rstudio-themes-scrollbars {
  border-color: #{{base02-hex}};
}

.rstudio-themes-flat .gwt-PopupPanel .popupContent {
  background: #{{base00-hex}};
  padding: 2px;
}

.rstudio-themes-flat .gwt-PopupPanel .popupContent table {
  background: #{{base07-hex}};
  border: 0;
}

.rstudio-themes-flat .gwt-PopupPanel .popupContent table .gwt-Label {
  color: #{{base00-hex}};
}

.rstudio-themes-flat.rstudio-themes-dark-menus .gwt-MenuItem.gwt-MenuItem-selected, .rstudio-themes-flat.rstudio-themes-dark-menus .gwt-MenuItem.gwt-MenuItem-selected > table {
  background: #{{base02-hex}};
  color: #{{base07-hex}};
}

/* datagrid */
.rstudio-themes-dark .dataGridHeader,
.rstudio-themes-dark tr[__gwt_header_row] > :-webkit-any(td, th),
.rstudio-themes-dark .dataTables_info {
  background-color: #{{base00-hex}} !important;
  border-color: #{{base01-hex}} !important;
}

/* hacky toolbars section */
.rstudio-themes-flat .rstudio-themes-dark-grey {
  /* this next one might not be needed anymore (at least after 1.4+) */
}

.rstudio-themes-flat .rstudio-themes-dark-grey .windowframe > div:last-child > div > div > div > div > div:not(.gwt-TabLayoutPanelTabs) {
  background: #{{base01-hex}} !important;
}

.rstudio-themes-flat .rstudio-themes-dark-grey .windowframe > div:last-child > div > div > div:nth-child(3) > div {
  background: #{{base01-hex}} !important;
}

/* Data Frame Preview */
.dataTables_wrapper thead th {
  background-color: #3a3e42 !important;
  color: #{{base07-hex}} !important;
}

.dataTables_scrollBody table tbody td:first-child {
  background: #3a3e42 !important;
  color: #{{base07-hex}} !important;
}

.dataTables_info {
  background: #3a3e42 !important;
  color: #{{base07-hex}} !important;
}

/* scrollbars */
/* reset scrollbar background color */
.rstudio-themes-flat .rstudio-themes-dark.rstudio-themes-scrollbars ::-webkit-scrollbar,
.rstudio-themes-flat .rstudio-themes-flat .rstudio-themes-dark.rstudio-themes-scrollbars::-webkit-scrollbar, .rstudio-themes-flat.rstudio-themes-dark-menus .rstudio-themes-scrollbars ::-webkit-scrollbar {
  background-color: unset;
}

.rstudio-themes-flat .ace_scroller {
  overflow: visible;
}

.rstudio-themes-flat, .rstudio-themes-flat .rstudio-themes-dark.rstudio-themes-scrollbars {
  /* Works on Firefox */
  scrollbar-width: auto;
  scrollbar-color: #{{base01-hex}} #{{base00-hex}}80;
  /* Works on Chrome, Edge, and Safari */
}

.rstudio-themes-flat ::-webkit-scrollbar, .rstudio-themes-flat .rstudio-themes-dark.rstudio-themes-scrollbars ::-webkit-scrollbar {
  width: auto;
}

.rstudio-themes-flat *::-webkit-scrollbar-track, .rstudio-themes-flat .rstudio-themes-dark.rstudio-themes-scrollbars *::-webkit-scrollbar-track {
  background: #{{base00-hex}}80;
}

.rstudio-themes-flat *::-webkit-scrollbar-thumb, .rstudio-themes-flat .rstudio-themes-dark.rstudio-themes-scrollbars *::-webkit-scrollbar-thumb {
  background-color: #{{base01-hex}};
  border-radius: 0px;
  border: 2px solid #{{base00-hex}};
}

.rstudio-themes-flat *::-webkit-scrollbar-thumb:hover, .rstudio-themes-flat .rstudio-themes-dark.rstudio-themes-scrollbars *::-webkit-scrollbar-thumb:hover {
  background-color: #3e4244;
}

/* fix overly zealous css rules */
.gwt-DialogBox-ModalDialog .dialogContent .gwt-Label {
  color: #333333;
}

/* job progress bar */
.rstheme_toolbarWrapper [role="progressbar"] > div, .windowframe [role="progressbar"] > div {
  background-color: #{{base05-hex}};
}

#rstudio_command_palette_search,
#rstudio_command_palette_list [id^="rstudio_command_"],
input#rstudio_command_palette_search {
  background-color: #{{base00-hex}};
  border: none;
}

#rstudio_command_palette_list {
  background-color: #{{base00-hex}};
  border-color: #{{base00-hex}};
}

.rstudio-themes-flat .rstudio-themes-border {
  border-color: #{{base00-hex}};
}

.rstudio-themes-flat .gwt-PopupPanel .popupContent #rstudio_command_palette_list [id*="rstudio_command_"] table .gwt-Label,
.rstudio-themes-flat .gwt-PopupPanel .popupContent #rstudio_command_palette_list [id*="rstudio_command_"] table td {
  background-color: #{{base00-hex}};
  color: #{{base07-hex}};
}

.rstudio-themes-flat .gwt-PopupPanel .popupContent #rstudio_command_palette_list [id*="rstudio_command_"]:hover, .rstudio-themes-flat .gwt-PopupPanel .popupContent #rstudio_command_palette_list [id*="rstudio_command_"]:hover [id^="rstudio_command_entry"], .rstudio-themes-flat .gwt-PopupPanel .popupContent #rstudio_command_palette_list [id*="rstudio_command_"]:hover table .gwt-Label, .rstudio-themes-flat .gwt-PopupPanel .popupContent #rstudio_command_palette_list [id*="rstudio_command_"]:hover table td {
  background-color: #2b2b2b;
}

.rstudio-themes-flat .gwt-PopupPanel .popupContent #rstudio_command_palette_list [aria-selected="true"], .rstudio-themes-flat .gwt-PopupPanel .popupContent #rstudio_command_palette_list [aria-selected="true"] [id^="rstudio_command_entry"], .rstudio-themes-flat .gwt-PopupPanel .popupContent #rstudio_command_palette_list [aria-selected="true"] table .gwt-Label, .rstudio-themes-flat .gwt-PopupPanel .popupContent #rstudio_command_palette_list [aria-selected="true"] table td {
  background-color: #383838;
}

input#rstudio_command_palette_search {
  padding: 10px 0;
  width: 580px;
  border: none;
}

.js-focus-visible input#rstudio_command_palette_search {
  outline-offset: 5px !important;
}

.rstudio-themes-flat .popupContent [id^="rstudio_command"] [id^="rstudio_command_entry_"] .gwt-Label, .rstudio-themes-flat .popupContent [id^="rstudio_command"] [id^="rstudio_command_entry_"] .gwt-Label span {
  border: none;
}

/* Rainbow Parenthesis */
.rstudio-themes-dark .ace_paren_color_0 {
  color: #{{base0C-hex}};
}

.rstudio-themes-dark .ace_paren_color_1 {
  color: #{{base0D-hex}};
}

.rstudio-themes-dark .ace_paren_color_2 {
  color: #{{base0A-hex}};
}

.rstudio-themes-dark .ace_paren_color_3 {
  color: #{{base05-hex}};
}

.rstudio-themes-dark .ace_paren_color_4 {
  color: #{{base08-hex}};
}

.rstudio-themes-dark .ace_paren_color_5 {
  color: #{{base0B-hex}};
}

.rstudio-themes-dark .ace_paren_color_6 {
  color: #{{base0E-hex}};
}

.terminal {
  background-color: #{{base00-hex}};
  color: #{{base07-hex}};
  font-feature-settings: "liga" 0;
  position: relative;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.terminal.xterm-cursor-style-block.focus:not(.xterm-cursor-blink-on) .terminal-cursor {
  background-color: #{{base0A-hex}};
  color: #{{base0A-hex}};
}

.terminal.focus.xterm-cursor-style-bar:not(.xterm-cursor-blink-on) .terminal-cursor::before, .terminal.focus.xterm-cursor-style-underline:not(.xterm-cursor-blink-on) .terminal-cursor::before {
  content: '';
  position: absolute;
  background-color: #{{base00-hex}};
}

.terminal:not(.focus) .terminal-cursor {
  outline: 1px solid #{{base07-hex}};
  outline-offset: -1px;
}

.terminal .xterm-selection {
  opacity: 1 !important;
  z-index: 0 !important;
}

.terminal .xterm-selection div {
  position: absolute;
  background-color: #{{base05-hex}}66;
}

.terminal .xterm-viewport {
  background-color: #{{base00-hex}};
  overflow-y: scroll;
}

.xtermInvertColor {
  color: #{{base07-hex}};
}

.xtermInvertBgColor {
  background-color: #{{base00-hex}};
}

.xtermBold {
  font-weight: bold;
}

.xtermUnderline {
  text-decoration: underline;
}

.xtermBlink {
  text-decoration: blink;
}

.xtermHidden {
  visibility: hidden;
}

.xtermItalic {
  font-style: italic;
}

.xtermStrike {
  text-decoration: line-through;
}
