* {
    background-color:            rgba ( {{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}, 0 % );
    separatorcolor:              @foreground;
    border-color:                @foreground;
    selected-normal-foreground:  @lightbg;
    selected-normal-background:  @lightfg;
    selected-active-foreground:  @background;
    selected-active-background:  @blue;
    selected-urgent-foreground:  @background;
    selected-urgent-background:  @red;
    normal-foreground:           @foreground;
    normal-background:           @background;
    active-foreground:           @blue;
    active-background:           @background;
    urgent-foreground:           @red;
    urgent-background:           @background;
    alternate-normal-foreground: @foreground;
    alternate-normal-background: @lightbg;
    alternate-active-foreground: @blue;
    alternate-active-background: @lightbg;
    alternate-urgent-foreground: @red;
    alternate-urgent-background: @lightbg;

    /* Text Colors */
    base-text: rgba ( {{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}, 100 % );
    selected-normal-text: rgba ( {{base01-rgb-r}}, {{base01-rgb-g}}, {{base01-rgb-b}}, 100 % );
    selected-active-text: rgba ( {{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}, 100 % );
    selected-urgent-text: rgba ( {{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}, 100 % );
    normal-text: rgba ( {{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}, 100 % );
    active-text: rgba ( {{base0D-rgb-r}}, {{base0D-rgb-g}}, {{base0D-rgb-b}}, 100 % );
    urgent-text: rgba ( {{base08-rgb-r}}, {{base08-rgb-g}}, {{base08-rgb-b}}, 100 % );
    alternate-normal-text: rgba ( {{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}, 100 % );
    alternate-active-text: rgba ( {{base0D-rgb-r}}, {{base0D-rgb-g}}, {{base0D-rgb-b}}, 100 % );
    alternate-urgent-text: rgba ( {{base08-rgb-r}}, {{base08-rgb-g}}, {{base08-rgb-b}}, 100 % );
}
window {
    background-color: @background;
}
message {
    border-color:     @separatorcolor;
}
textbox {
    text-color:       @base-text;
}
listview {
    border-color:     @separatorcolor;
}
element-text, element-icon {
    background-color: inherit;
    text-color:       inherit;
}
element normal.normal {
    background-color: @normal-background;
    text-color:       @normal-text;
}
element normal.urgent {
    background-color: @urgent-background;
    text-color:       @urgent-text;
}
element normal.active {
    background-color: @active-background;
    text-color:       @active-text;
}
element selected.normal {
    background-color: @selected-normal-background;
    text-color:       @selected-normal-text;
}
element selected.urgent {
    background-color: @selected-urgent-background;
    text-color:       @selected-urgent-text;
}
element selected.active {
    background-color: @selected-active-background;
    text-color:       @selected-active-text;
}
element alternate.normal {
    background-color: @alternate-normal-background;
    text-color:       @alternate-normal-text;
}
element alternate.urgent {
    background-color: @alternate-urgent-background;
    text-color:       @alternate-urgent-text;
}
element alternate.active {
    background-color: @alternate-active-background;
    text-color:       @alternate-active-text;
}
scrollbar {
    handle-color:     @normal-foreground;
}
sidebar {
    border-color:     @separatorcolor;
}
button {
    text-color:       @normal-text;
}
button selected {
    background-color: @selected-normal-background;
    text-color:       @selected-normal-text;
}
inputbar {
    text-color:       @normal-text;
}
case-indicator {
    text-color:       @normal-text;
}
entry {
    text-color:       @normal-text;
}
prompt {
    text-color:       @normal-text;
}
textbox-prompt-colon {
    text-color:       inherit;
}
